@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-color);
  transition: background-color 0.3s ease;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 1285px;
}

input,
textarea,
select,
option,
button,
label {
  border: none;
  outline: none;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--alltexts-color);
}

:root {
  --alltexts-color: #1A212F;
  --body-color: #F5FAFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--alltexts-color);
}

p {
  color: var(--alltexts-color);
}

.dark-theme {
  --alltexts-color: #fff;
  --body-color: #222;
}

body {
  font-family: "Comfortaa" sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  font-family: "Comfortaa", sans-serif;
}

p,
a,
span,
summary {
  font-family: "Montserrat", sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  background-color: #F5FAFF;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo img {
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 40px 0px rgba(86, 86, 86, 0.3019607843);
  border-radius: 100% !important;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__menu {
  display: flex;
  align-items: center;
  gap: 40px;
  width: 660px;
  padding: 0 15px;
  height: 52px;
  box-shadow: 0px 0px 40px 0px rgba(86, 86, 86, 0.3019607843);
  border-radius: 190px;
}
.header__link {
  transition: all 0.3s ease;
}
.header__link:hover, .header__link:focus {
  color: #64D370;
}
.header__contacts a {
  transition: all 0.3s ease;
  padding: 14px 30px;
  border-radius: 190px;
  box-shadow: 0px 0px 40px 0px rgba(86, 86, 86, 0.3019607843);
  color: #64D370;
}
.header__lang {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 350px;
}
.header__lang a {
  transition: all 0.3s ease;
  box-shadow: 0px 0px 40px 0px rgba(86, 86, 86, 0.3019607843);
  width: 35px;
  height: 35px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__lang a:focus {
  background-color: #64D370;
  color: #fff;
}

.hero {
  margin-top: 150px;
}
.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 15px;
  max-width: 477px;
}
.hero__span {
  color: #64D370;
}
.hero__description {
  margin-bottom: 40px;
  max-width: 454px;
}
.hero__flex {
  display: flex;
  align-items: center;
  gap: 30px;
}
.hero__button {
  padding: 12px 35px;
  border-radius: 190px;
  box-shadow: 0px 0px 40px 0px rgba(86, 86, 86, 0.3019607843);
  color: #fff;
  background-color: #64D370;
  transition: all 0.3s ease;
}
.hero__button:hover {
  transform: scale(1.1);
}
.hero__button:active {
  transform: scale(0.9);
}
.hero__span1 {
  color: #64D370;
  font-weight: 700;
  font-size: 35px;
}

.plan {
  margin-top: 39px;
}
.plan__boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.plan__box {
  width: 170px;
}
.plan__text {
  font-size: 12px;
}

.agenda {
  margin-top: 159px;
}
.agenda__flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.agenda__choose {
  padding: 17px 80px;
  border-radius: 190px;
  background-color: #DEE6EE;
  transition: all 0.3s ease;
  cursor: pointer;
}
.agenda__choose:hover, .agenda__choose:focus {
  background-color: #64D370;
  color: #fff;
  box-shadow: 0px 0px 40px 0px rgba(86, 86, 86, 0.3019607843);
}
.agenda__boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}
.agenda__box {
  cursor: pointer;
}
.agenda__box h3,
.agenda__box p {
  transition: color 0.3s ease;
}
.agenda__box:hover h3,
.agenda__box:hover p, .agenda__box:focus h3,
.agenda__box:focus p {
  color: #64D370;
}
.agenda__fitness {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 250px;
  border-radius: 30px;
  background-color: #64D370;
}
.agenda__subtitle {
  display: flex;
  gap: 20px;
  color: #fff;
}
.agenda__subtext {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}
.agenda__text {
  width: 280px;
  height: auto;
  color: #fff;
}
.agenda__grid {
  display: grid;
  gap: 15px;
}
.agenda__flex1 {
  display: flex;
  max-width: 380px;
  justify-content: space-between;
}
.agenda__link {
  padding: 13px 35px;
  width: 280px;
  height: 50px;
  background: #64D370;
  color: #fff;
  text-align: center;
  box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
  border-radius: 190px;
  transition: all 0.3s ease;
}
.agenda__link:hover {
  transform: scale(1.1);
}
.agenda__link:active {
  transform: scale(0.9);
}
.agenda__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.agenda__frame {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.agenda__right {
  width: 780px;
}
.agenda__data {
  display: flex;
  justify-content: space-between;
  width: 780px;
  height: auto;
  padding: 13px 50px;
  border-radius: 30px;
  box-shadow: 0px 0px 40px 0px rgba(86, 86, 86, 0.3019607843);
}
.agenda__data h2 {
  transition: all 0.3s ease;
  cursor: pointer;
}
.agenda__data h2:hover {
  color: #64D370;
}
.agenda__block {
  width: 780px;
  height: auto;
  border-radius: 30px;
  box-shadow: 0px 0px 40px 0px rgba(86, 86, 86, 0.3019607843);
  padding: 50px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.agenda__flex2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foto {
  margin-top: 120px;
}
.foto__title {
  text-align: center;
  margin-bottom: 60px;
}
.foto__flex {
  display: flex;
  justify-content: space-between;
}
.foto__foto {
  width: 300px;
  height: 570px;
}

.order {
  margin-top: 100px;
  margin-bottom: 150px;
}
.order__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order__left {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 420px;
  height: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.order__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.order__label {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  gap: 5px;
  width: 100%;
  font-weight: 700;
  font-size: 18px;
}
.order__input {
  width: 418px;
  height: 40px;
  border-radius: 190px;
  padding: 0 20px;
  background-color: #DEE6EE;
}
.order__span {
  color: #64D370;
}
.order__tel {
  border: 3px solid #64D370;
  border-radius: 190px;
  padding: 15px 30px;
  color: #64D370;
  transition: all 0.3s ease;
}
.order__tel:hover {
  transform: scale(1.1);
}
.order__tel:active {
  transform: scale(0.9);
}
.order__link {
  padding: 14px 68px;
  background-color: #64D370;
  color: #fff;
  border-radius: 190px;
  transition: all 0.3s ease;
}
.order__link:hover {
  transform: scale(1.1);
}
.order__link:active {
  transform: scale(0.9);
}
.order__right {
  width: 680px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.order__right details {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40px;
  box-shadow: 0px 0px 20px 0px rgba(86, 86, 86, 0.2);
  padding: 10px 20px;
  border-radius: 190px;
}
.order__subtitle {
  text-align: center;
}

.footer {
  width: 100%;
  height: 263px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 30px 0px rgba(86, 86, 86, 0.2509803922);
  margin-bottom: 100px;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.footer__lists {
  display: flex;
  flex-direction: column;
  gap: 19px;
  text-align: right;
  align-items: flex-end;
}
.footer__span {
  display: flex;
  width: 165px;
  height: 30px;
  gap: 15px;
}
.footer__tel {
  color: #64D370;
  font-weight: 700;
}
.footer__links {
  transition: all 0.3s ease;
}
.footer__links:hover {
  color: #64D370;
}
.footer__link {
  transition: all 0.3s ease;
}
.footer__link:hover {
  color: #64D370;
}

main {
  background-image: url(../../images/ellipse1.png), url(../../images/ellipse2.png), url(../../images/ellipse3.png), url(../../images/ellipse4.png), url(../../images/ellipse5.png);
  background-position: 0px 700px, right 1400px, left 2000px, right 2300px, left 2700px;
  background-repeat: no-repeat;
  position: relative;
  z-index: -1000;
}

.statin {
  background-image: url(../../images/ellipse.png);
  background-repeat: no-repeat;
  background-position: right;
}/*# sourceMappingURL=main.css.map */