.agenda {
    margin-top: 50px;


    &__flex {
        display: flex;
        justify-content: space-evenly;
        // align-items: center;
    }

    &__choose {
        padding: 17px 80px;
        border-radius: 190px;
        background-color: #DEE6EE;
        transition: all 0.3s ease;
        cursor: pointer;

        &:hover,
        &:focus {
            background-color: #64D370;
            color: #fff;
            box-shadow: 0px 0px 40px 0px #5656564D;
        }
    }

    &__boxes {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 70px;
    }

    &__box {
        cursor: pointer;

        h3,
        p {
            transition: color 0.3s ease;
        }

        &:hover,
        &:focus {

            h3,
            p {
                color: #64D370;
            }
        }
    }

    &__fitness {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        width: 380px;
        height: 250px;
        border-radius: 30px;
        background-color: #64D370;
    }

    &__subtitle {
        display: flex;
        gap: 20px;
        color: #fff;
    }

    &__subtext {
        color: #fff;
        font-weight: 500;
        font-size: 18px;
    }

    &__text {
        width: 280px;
        height: auto;
        color: #fff;
    }

    &__grid {
        display: grid;
        gap: 15px;
    }

    &__flex1 {
        display: flex;
        max-width: 380px;
        justify-content: space-between;
    }

    &__link {
        padding: 13px 35px;
        width: 280px;
        height: 50px;
        background: #64D370;
        color: #fff;
        text-align: center;
        box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
        border-radius: 190px;
        transition: all 0.3s ease;

        &:hover {
            transform: scale(1.1);
        }

        &:active {
            transform: scale(0.9);
        }
    }

    &__left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    &__frame {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 50px;
    }

    &__right {
        width: 780px;
    }

    &__data {
        display: flex;
        justify-content: space-between;
        width: 780px;
        height: auto;
        padding: 13px 50px;
        border-radius: 30px;
        box-shadow: 0px 0px 40px 0px #5656564D;

        h2 {
            transition: all 0.3s ease;
            cursor: pointer;

            &:hover {
                color: #64D370;
            }
        }
    }

    &__block {
        width: 780px;
        height: auto;
        border-radius: 30px;
        box-shadow: 0px 0px 40px 0px #5656564D;
        padding: 50px;
        margin-top: 20px;

        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    &__flex2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media only screen and (max-width: 768px) {
    .agenda {
        &__choose {
            padding: 10px 70px;
            font-size: 14px;
        }

        &__box {

            h3 {
                font-size: 10px;
            }

            p {
                font-size: 8px;
            }
        }

        &__fitness {
            width: 222px;
            height: 145px;

            h1 {
                font-size: 14px;
            }

            p {
                font-size: 10px;
            }
        }

        &__text {
            width: 163px;
        }

        &__left {
            gap: 25px;
        }

        &__grid {
            gap: 8px;
        }

        &__flex1 {
            width: 200px;

            p,
            del {
                font-size: 8px;
            }
        }

        &__link {
            padding: 7px 40px;
            font-size: 12px;
            width: 163px;
            height: 35px;
        }

        &__data {
            width: 456px;
            padding: 9px 10px;


            h2 {
                font-size: 10px;
            }
        }

        &__block {
            width: 456px;
            height: auto;
            padding: 17px;
            gap: 25px;
        }

        &__flex2 {

            h4,
            p {
                font-size: 10px;
            }
        }
    }

    @media only screen and (max-width: 480px) {
        .agenda {
            &__flex {
                flex-direction: column;
                gap: 15px;
            }

            &__boxes {
                margin-top: 40px;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 31px;
            }

            &__frame {
                display: grid;
                gap: 40px;
            }

            &__fitness {
                width: 280px;
                padding: 15px;
                height: auto;
            }

            &__grid {
                width: 280px;
                gap: 10px;
                place-content: center;
            }

            &__left {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 276px;
            }

            &__right {
                width: 276px;
            }

            &__data {
                width: 276px;
            }

            &__block {
                width: 276px;
            }
        }
    }
}