.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    background-color: #F5FAFF;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        img {
            width: 100%;
            height: auto;
            box-shadow: 0px 0px 40px 0px #5656564D;
            border-radius: 100% !important;
            object-fit: cover;
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        gap: 40px;
        width: 660px;
        padding: 0 15px;
        height: 52px;
        box-shadow: 0px 0px 40px 0px #5656564D;
        border-radius: 190px;
    }

    &__link {
        transition: all 0.3s ease;

        &:hover,
        &:focus {
            color: #64D370;
        }
    }

    &__contacts {
        a {
            transition: all 0.3s ease;
            padding: 14px 30px;
            border-radius: 190px;
            box-shadow: 0px 0px 40px 0px #5656564D;
            color: #64D370;
        }
    }

    &__lang {
        display: flex;
        align-items: center;
        gap: 15px;
        padding-left: 350px;

        a {
            transition: all 0.3s ease;
            box-shadow: 0px 0px 40px 0px #5656564D;
            width: 35px;
            height: 35px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            &:focus {
                background-color: #64D370;
                color: #fff;
            }
        }
    }
}